#tp-debugger, #tp-debugger .tp-debugger-array:hover ul {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(200, 200, 200, .8);
    font-family: monospace;
    width: 300px;
    background: #FFFFFF;
    font-size: 12px;
    z-index: 99999999;
}

#tp-debugger table, #tp-debugger tr, #tp-debugger td {
    border: none;
    margin: 0;
}

#tp-debugger .tp-debugger-yes {
    color: #00aa00;
}

#tp-debugger .tp-debugger-no {
    color: #aa0000;
}

#tp-debugger .tp-debugger-array ul {
    display: none;
}

#tp-debugger .tp-debugger-array:hover {
    position: relative;
}

#tp-debugger .tp-debugger-array:hover ul {
    position: absolute;
    margin: 0 0 -1em 0;
    bottom: 0;
    left: 0;
    max-height: 300px;
    overflow-y: scroll;
}

#tp-debugger .fatal {
    color: #FF0000;
    -webkit-animation: tinypass-fatal 0.5s linear infinite;
    -moz-animation: tinypass-fatal 0.5s linear infinite;
    animation: tinypass-fatal 0.5s linear infinite;
}

@keyframes tinypass-fatal {
    0% {
        color: red;
    }
    100% {
        color: black;
    }
}

@-webkit-keyframes tinypass-fatal {
    0% {
        color: red;
    }
    100% {
        color: black;
    }
}
