// Widget to display LaterPay legal documents for merchants within an iframe

.lp_legal-docs-iframe {
    background: hsl(210, 3%, 31%);
    display: none;
    position: relative;
}

.lp_legal-docs-iframe__close-link {
    background: $border--darkest;
    border-radius: $border-radius;
    box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.21);
    color: hsl(210, 3%, 31%);
    font-size: $fs--15;
    font-weight: bold;
    height: $fs--15;
    line-height: 1;
    padding: $fs--05;
    position: absolute;
    right: $fs--2;
    text-align: center;
    top: $fs;
    width: $fs--15;

    &:hover {
        background-color: $clickable--highlight;
        color: $text--inverse;
    }
}
