html body .lp_purchase-overlay {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

  .lp_purchase-overlay__wrapper {
    max-width: 306px !important;
    margin: $fs--07 auto !important;

    .lp_purchase-overlay__form {
      background: $purchase-background;
      border-radius: $border-radius * 2 !important;
      box-shadow: 0 1px $fs rgba(0, 0, 0, .25) !important;
      border-bottom-left-radius: $border-radius * 2 !important;
      border-bottom-right-radius: $border-radius * 2 !important;

      .lp_purchase-overlay__header {
        background: $purchase-header-background;
        border-top-left-radius: $border-radius * 2 !important;
        border-top-right-radius: $border-radius * 2 !important;
        color: $text--inverse !important;
        font-size: $fs--15 !important;
        font-weight: normal !important;
        line-height: 1 !important;
        overflow: hidden !important;
        padding: $fs--125 !important;
        text-align: center !important;
      }

      .lp_purchase-overlay__body {
        border-bottom-left-radius: $border-radius * 2 !important;
        border-bottom-right-radius: $border-radius * 2 !important;
        padding: $fs--08 0 !important;

        .lp_purchase-overlay__settings {
          padding: 0 $fs--125 !important;
          display: table !important;
          box-sizing: border-box !important;
        }
      }

      .lp_purchase-overlay__footer {
        background: $purchase-footer-background;
        border-bottom-left-radius: $border-radius * 2 !important;
        border-bottom-right-radius: $border-radius * 2 !important;
        padding: $fs--07 $fs--125 $fs--07 !important;
        position: relative !important;
        bottom: -1px !important;
      }
    }

    .lp_purchase-overlay__copy {
      font-size: $fs--07 !important;
      text-align: center !important;
      line-height: 2 !important;

      & span:before {
        font-size: $fs--45 !important;
        line-height: 0 !important;
        padding: 0 !important;
        position: relative !important;
        top: 0.38em !important;
      }
    }
  }

  .lp_purchase-overlay-option {
    @include clearfix;
    display: table-row !important;

    &__button {
      border-bottom: 1px solid #e0e0e2 !important;
      display: table-cell !important;
      vertical-align: middle !important;
      padding: $fs--08 0 $fs--08 $fs--055 !important;
      width: 9% !important;
    }

    &-single .lp_purchase-overlay-option__button {
      display: none !important;
    }

    &__name {
      border-bottom: 1px solid #e0e0e2 !important;
      display: table-cell !important;
      padding: $fs--08 0 $fs--08 $fs--02 !important;
      width: 60% !important;
    }

    &__title {
      color: $purchase-main-text;
      font-weight: bold !important;
      line-height: 1.4 !important;
    }

    &__description {
      color: $purchase-description-text;
      font-size: $fs--07 !important;
      line-height: 1.2 !important;
    }

    &__cost {
      border-bottom: 1px solid #e0e0e2 !important;
      color: $purchase-main-text !important;
      display: table-cell !important;
      padding: $fs--08 0 !important;
      width: 31% !important;
      vertical-align: top !important;
      text-align: right !important;
    }

    &__price {
      display: inline-block !important;
      font-size: $fs--15 !important;
      letter-spacing: -1px !important;
      line-height: 1 !important;
      vertical-align: top !important;
    }

    &__currency {
      display: inline-block !important;
      font-size: $fs--055 !important;
      line-height: initial !important;
      vertical-align: top !important;
    }

    &__input + label {
      cursor: pointer !important;
      outline: none !important;
    }

    &__input:not(checked) {
      border: none !important;
      box-shadow: none !important;
      display: block !important;
      height: 16px !important;
      line-height: 0 !important;
      margin: 0 !important;
      min-width: 16px !important;
      opacity: 0 !important;
      outline: none !important;
      position: absolute !important;
      width: 16px !important;
      vertical-align: middle !important;
    }

    &__input:not(checked) + label {
      position: relative !important;
      padding: 0 0 0 $fs--125 !important;
    }

    &__input:not(checked) + label:before {
      box-sizing: content-box !important;
      content: '' !important;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      width: $fs--085 !important;
      height: $fs--085 !important;
      border: 1px solid $purchase-header-background !important;
      border-radius: 50% !important;
      background: transparent !important;
    }

    &__input:not(checked) + label:after {
      content: '' !important;
      position: absolute !important;
      top: $fs--02 !important;
      left: $fs--02 !important;
      width: $fs--055 !important;
      height: $fs--055 !important;
      border-radius: 50% !important;
      background: $purchase-header-background !important;
      opacity: 0 !important;
    }

    &__input:checked + label:after {
      opacity: 1 !important;
    }
  }

  &__buttons {
    text-align: center !important;
    margin-top: $fs--125 !important;
  }

  &__submit {
    background: $purchase-button-background;
    border-radius: $border-radius !important;
    box-shadow: none !important;
    color: $purchase-button-text;
    display: inline-block !important;
    font-size: $fs--085 !important;
    line-height: 2 !important;
    padding: 0 $fs !important;

    &:hover {
      text-decoration: none !important;
      color: $purchase-button-text;
    }

    & span:before {
      font-size: $fs--2 !important;
      line-height: 0 !important;
      position: relative !important;
      top: $fs--055 !important;
      padding: 0 !important;
    }
  }

  &__notification {
    color: $laterpay-brand;
    font-size: $fs--07 !important;
    margin-top: $fs--02 !important;

    & a {
      box-shadow: none !important;
      color: $laterpay-brand;

      &:hover {
        color: $laterpay-brand--darker;
      }
    }

    div.lp_js_notificationButtons {
      a {
          float: none;
          text-decoration: underline;
      }
    }
  }

  .lp_purchase-overlay-payments-list {
    margin: 0 !important;
    text-align: center !important;
  }

  .lp_purchase-overlay-payments-item {
    display: inline-block !important;
    height: $fs--2 !important;
    margin: 0 $fs--04 !important;
    vertical-align: middle !important;
  }

  .lp_purchase-overlay-icon {
    display: table !important;
    line-height: 2 !important;

    &:after {
      background-repeat: no-repeat !important;
      background-size: contain !important;
      content: '' !important;
      display: inline-block !important;
      filter: grayscale(100%) contrast(30%) !important;
      vertical-align: middle !important;
    }

    &-americanexpress:after {
      background-image: url('../img/logo-americanexpress.svg') !important;
      width: 300px * 0.06 !important;
      height: 300px * 0.06 !important;
    }

    &-discovercard:after {
      background-image: url('../img/logo-discovercard-bw.svg') !important;
      width: 178.9px * 0.15 !important;
      height: 114.4px * 0.15 !important;
    }

    &-mastercard:after {
      background-image: url('../img/logo-mastercard.svg') !important;
      width: 300px * 0.08 !important;
      height: 233.23777px * 0.08 !important;
    }

    &-sepa:after {
      background-image: url('../img/logo-sepa.svg') !important;
      width: 76px * 0.4 !important;
      height: 20.9px * 0.4 !important;
    }

    &-paypal:after {
      background-image: url('../img/logo-paypal.svg') !important;
      width: 76px * 0.5 !important;
      height: 24px * 0.5 !important;
    }

    &-visa:after {
      background-image: url('../img/logo-visa.svg') !important;
      width: 282px * 0.09 !important;
      height: 92.637756px * 0.09 !important;
    }

    &-visa-debit:after {
      background-image: url('../img/logo-visa-debit.svg') !important;
      width: 339.8px * 0.1 !important;
      height: 170.02px * 0.1 !important;
    }
  }
}

html body .lp_paid-content {
  .lp_purchase-overlay {
    left: 50% !important;
    margin-top: $fs--35 !important;
    position: absolute !important;
    top: 0 !important;
    transform: translateX(-50%) !important;
    width: 100% !important;

    .lp_purchase-overlay__wrapper {
      max-width: 448px !important;

      .lp_purchase-overlay__copy {
        font-size: $fs !important;

        & span:before {
          font-size: $fs--6 !important;
          line-height: 0 !important;
          padding: 0 !important;
          position: relative !important;
          top: 0.37em !important;
        }
      }

      .lp_purchase-overlay__settings {
        display: table !important;
        width: 100% !important;
      }

      .lp_purchase-overlay__voucher {
          margin-top: $fs--125 !important;

        .lp_purchase-overlay__voucher-input {
          background: $text--inverse !important;
          border: 1px solid $border !important;
          border-radius: $border-radius !important;
          color: $text !important;
          font-size: $fs !important;
          font-weight: 600 !important ;
          margin: 0 auto !important;
          padding: $fs--05 !important;
          text-align: center !important;
          width: 160px !important;

          &::-webkit-input-placeholder {
            color: $border--darker !important;
            text-align: center !important;
          }

          &:-moz-placeholder {
            color: $border--darker !important;
            text-align: center !important;
          }

          &::-moz-placeholder {
            color: $border--darker !important;
            text-align: center !important;
          }

          &:-ms-input-placeholder {
            color: $border--darker !important;
            text-align: center !important;
          }
        }

        .lp_purchase-overlay__voucher-error {
          color: hsl(0, 73%, 64%) !important;
          font-size: $fs--085 !important;
          margin-top: $fs--05;
          text-align: center !important;
        }
      }
    }

    .lp_purchase-overlay-option {
      cursor: pointer;

      &__title {
        font-size: $fs--125 !important;
      }

      &__description {
        font-size: $fs !important;
      }

      &__price {
        font-size: $fs--2 !important;
      }

      &__currency {
        font-size: $fs--085 !important;
      }
    }

    &__buttons {
      margin-left: $fs !important;
      margin-right: $fs !important;
    }

    &__submit {
      font-size: $fs--125 !important;

      & span:before {
        top: $fs--04 !important;
      }
    }

    &__notification {
      font-size: $fs !important;
      margin-top: $fs--04 !important;

      & a:first-child {
        margin-right: $fs--025 !important;
      }

      & a:last-child {
        margin-left: $fs--025 !important;
      }
    }

    .lp_purchase-overlay-payments-item {
      margin: 0 $fs--08 !important;
    }

    .lp_purchase-overlay-icon {
      &:after {
        transform: scale(1.4) !important;
      }
    }
  }
}
