// Loaded on backend pages of LaterPay plugin

@charset "UTF-8";

@import 'objects/_variables';
@import 'objects/_polyfills';
@import 'objects/_layout';
@import 'objects/_badge';
@import 'objects/_triangle';
@import 'objects/_tags';
@import 'objects/_lists';
@import 'objects/_utilities';
@import 'objects/_forms';
@import 'objects/_greybox';
@import 'objects/_vector_icons';
@import 'objects/_tooltips';
@import 'objects/_spinner';
@import 'objects/_dropdown';
@import 'objects/_backend_layout';
@import 'objects/_button_group';

@import 'components/_toggle';
@import 'components/_legal_docs_viewer';
@import 'components/_purchase_button';
@import 'components/_time_pass';
@import 'components/_api-credentials-form';
@import 'components/_purchase_overlay';

@import 'pages/_pricing';
@import 'pages/_appearance';
