#rooster {
    margin: 0 0 0 -19px;
    background: #f1f1f1;
    color: #5c686f;
    font-family: 'Open Sans', sans-serif;
}

#rooster a,
#rooster a:link,
#rooster a:visited,
#rooster .a.roost-signup {
    text-decoration: none;
    color: rgb(46, 162, 204);
}

#rooster a:hover,
#rooster .roost-signup:hover {
    text-decoration: underline;
}

#adminmenu li.current .wp-menu-image img,
#adminmenu li.wp-not-current-submenu .wp-menu-image img {
    opacity: 1;
}

#rooster input,
#rooster select {
    font-family: 'Open Sans', sans-serif;
}

#rooster .roost-signup {
    cursor: pointer;
}

.roost-login,
.roost-section-secondary input[type="submit"] {
    width: 94px;
    padding: 5px 0 6px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #0074a2;
    background: #2ea2cc;
    box-shadow: none;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}

.roost-left-link {
    float: left;
    font-size: 14px;
}

#rooster input[type="text"] {
    width: 340px;
    height: 36px;
    padding: 0 10px;
}

#roost-manual-send-section {
    height: 225px;
}

#roost-manual-send-wrapper {
    margin-top: 15px;
}

#roost-manual-send-wrapper input[type="text"] {
    display:block;
    width: 837px;
    height: 27px;
}

#rooster select {
    margin: 5px 0 0;
    cursor: pointer;
}

#roost-header {
    display:inline-block;
    width: 100%;
    height: 36px;
    position:relative;
    margin-top: 7px;
    padding: 16px 0 0 0;
}

#roost-header-right {
    width: 550px;
    float: right;
    margin: 5px;
}

#roost-username,
#roost-log-out {
    font-size: 15px;
    color: #666666;
}

#roost-username {
    display: inline-block;
    width: 425px;
    float: right;
    margin-top: -4px;
    margin-right: 20px;
    text-align: right;
}

#roost-log-out {
    display: block;
    width: 90px;
    float: right;
    padding: 5px 0 6px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    font-weight:600;
    background: #f7f7f7;
}

.roost-wrapper {
    margin: 0 auto;
    width: 1000px;
}

.roost-wrappper-override {
    margin: 0 auto;
    width: 90px;
}

#roost-main-wrapper {
    width: 1000px;
    min-height: 800px;
    position: relative;
    top: 5px;
    margin: -1px auto 0;
}

#roost-signin-wrapper {
    width: 366px;
    margin: 100px auto;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

#roost-primary-logo {
    height: 64px;
    background: rgb(226, 83, 81);
    text-align: center;
}

#roost-primary-logo img {
    width: 72px;
    height: 40px;
    margin-top: 12px;
}

.roost-primary-heading {
    height: 35px;
    padding: 19px 30px;
    border-bottom: 1px solid #d4d7d9;
    background: #fafafa;
    text-align: center;
}

.roost-primary-footer {
    height: 35px;
    padding: 20px 30px;
    background: #fff;
    text-align: center;
}

.roost-login-input {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 10px 0;
}

#roost-signin-wrapper input[type="text"],
#roost-signin-wrapper input[type="password"] {
    width: 214px;
    height: 26px;
    float: right;
    margin-top: -2px;
}

#roost-signin-wrapper input[type="password"] {
    padding-left: 10px;
}

#roost-signin-wrapper select {
    width: 100%;
}

.roost-disclaimer {
    display: inline-block;
    width: 290px;
    margin: 5px 0 0 5px;
    font-size: 11px;
    font-style: italic;
}

.roost-primary-cta,
.roost-secondary-cta {
    display: block;
    font-size: 13px;
}

.roost-primary-cta {
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 10px;
    color: #222222;
}

.roost-secondary-cta {
    font-weight: 400;
    font-style: italic;
    color: #666666;
}

.roost-section-wrapper {
    margin: 25px 0;
    border: 1px solid #e5e5e5;
    background: #fafafa;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.roost-section-heading {
    display: inline-block;
    width: 95%;
    height: 17px;
    position: relative;
    padding: 15px 0 10px 5px;
    background-color: #fafafa;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-indent: 13px;
    color: #222222;
}

#roost-activity .roost-section-heading {
    width: 100%;
}

.roost-section-content {
    padding: 30px 30px 0 30px;
    background-color: #fafafa;
}

.roost-section-secondary {
    padding: 13px 0 0 13px;
    background-color: #fafafa;
}

.roost-section-secondary input[type="submit"] {
    width: 130px !important;
    float: right;
    margin:2px 0 0 0;
}

#roost-all-stats {
    margin: 32px 0 0;
    padding: 0;
}

#roost-all-stats {
    height: 195px;
}

.roost-no-collapse {
    display: inline-block;
    width: 956px;
    position: relative;
}

#roost-registration-points {
    list-style: none;
    font-size: 13px;
}

#roost-registration-points li {
    display: inline-block;
    width: 240px;
    height: 40px;
    margin-right: 38px;
}

#roost-registration-points li:last-of-type {
    margin-right: 0;
}

.roost-step {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 10px;
    padding: 10px 9px 8px 9px;
    background: #e25351;
    border-radius: 20px;
    text-indent: 5px;
    color: #fff;
}

#roost-vert-wedge {
    display: inline-block;
    width: 180px;
    top: 8px;
    position: relative;
}

#rooster input:disabled,
#rooster select:disabled,
#rooster textarea:disabled,
#rooster submit:disabled {
    background: #d4d7d9;
    cursor: not-allowed;
}

.roost-input-text {
    display:inline-block;
    width:100%;
    height:71px;
    position:relative;
}

.roost-input-text .roost-label,
.roost-block .roost-label {
    display: block;
    width: 110px;
    float:left;
    margin-right: 14px;
}

.roost-block .roost-label {
    width:  175px;
    margin-right: 25px;
    position: relative;
    top: -4px;
}

.roost-block .roost-label.long-label {
    font-size: 12px;
}

#roost-settings .roost-no-collapse {
    width: 967px;
}

#roost-settings-save {
    margin-bottom: 6px;
}

.roost-subsetting {
    display: none;
    width: 664px;
    position: relative;
    margin-bottom: 20px;
    float: right;
    top: 10px;
    padding: 23px 30px 20px;
    border: 1px solid #e9e9e9;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.2);
}

.roost-code {
    display: inline-block;
    padding: 5px 10px;
    background: #f0f0f0;
    font-family: monospace;
    color: #000000;
    text-align: center;
}

#roost-hint-code-line {
    display: block;
    margin-top: 7px;
    margin-bottom: 10px;
    text-indent: 5px;
}

#roost-event-hints-disclaimer {
    display: none;
    width: 630px;
    position: relative;
    float: right;
    top: 0;
    right: 65px;
    font-size: 12px;
    font-style: italic;
}

#roost-available-categories li {
    font-weight: 300;
}

.light-weight {
    font-weight: 300;
}

.roost-block {
    display: inline-block;
    width: 100%;
    min-height: 288px;
    position:relative;
    padding: 15px 0 0;
}

.roost-input-caption {
    display:block;
    margin-top: 5px;
    font-style:italic;
    font-size:13px;
    text-indent: 5px;
}

.roost-setting-wrapper {
    display:inline-block;
    width: 100%;
    min-height: 35px;
    margin-bottom: 12px;
}

.roost-input-wrapper {
    display:block;
    width:810px;
    float: left;
}

.roost-setting-wrapper input {
    position: relative;
    float: left;
    top: 5px;
    margin-right: 10px;
}

.roost-setting-caption {
    display:block;
    width: 725px;
    float:left;
    font-style:italic;
}

#roost-settings-lift {
    position: relative;
    top: -5px;
}

.roost-label {
    display: inline-block;
    margin: 4px 0 1px 5px;
    font-size: 13px;
    font-weight: 600;
}

input[type="text"]#roost-min-visits {
    width: 36px;
    height: 28px;
    position: relative;
    float: none;
    top: 0px;
    left: 4px;
    text-align: center;
    padding: 0;
}

.roost-os-bold {
    font-weight: 600;
}

#rooster-status {
    width: 966px;
    margin: 15px auto;
    padding: 17px 20px;
    border-left: 4px solid #7ad03a;
    background: #fff;
    font-size: 13px;
    color: #222222;
}

#rooster-status-text {
    display: inline-block;
    width: 910px;
}

#rooster-status-close {
    display: inline-block;
    height: 16px;
    position: relative;
    float: right;
    color: rgb(46, 162, 204);
    cursor: pointer;
}

#roost-middle-save {
    display: block;
    float: right;
}

.roost-text-pinch {
    display: inline-block;
    width: 200px;
    margin-top: 50px;
}
#roost-user-logo {
    display: inline-block;
    height: 24px;
    position:relative;
    top: 7px;
    margin-right: 15px;
    border-radius: 3px;
}

#roost-user-logo img {
    border-radius: 3px;
    cursor: pointer;
}

.roost-stats-metric {
    width: 328px;
    height: 95px;
    position: relative;
    float: left;
    top: -6px;
    margin-right: 5px;
    padding: 50px 0;
    border: 1px solid #eeeeee;
    background: #fafafa;
}

.roost-stats-metric:last-of-type {
    margin-right: 0;
}

.roost-stats-metric hr {
    width: 40px;
    height: 2px;
    position: relative;
    margin: 0 auto;
    border: 0;
    background: #e8ebeb;
    top: 35px;
}

.roost-stat {
    display:block;
    font-size: 63px;
    text-align:center;
    font-weight: 300;
    color: #666666;
}

.roost-stat-label {
    display:block;
    width: 215px;
    position: relative;
    top: 27px;
    margin: 25px auto 0;
    font-size: 15px;
    line-height: 18px;
    text-align:center;
    color: #666666;
}

#roost-all-stats .roost-no-collapse {
    width: 100%
}

#roost-time-label {
    font-size: 30px;
}

#roost-manual-note {
    padding: 0 179px 0 10px;
}

#roost-manual-note-count {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    font-weight: 700;
    color: #CCCCCC;
}

#roost-manual-note-count-int.roostWarning {
    color: #D54E21;
}

#roost-support-tag {
    text-align: center;
}

.updated#roost-setup-notice,
.updated#roost-first-time-setup {
    min-width: 800px;
    height: 90px;
    position: relative;
    margin: 15px 0 25px 0;
    border: none;
    border-radius: 5px;
    background: #e66d6b; /* Old browsers */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e66d6b), color-stop(100%,#e25351));
    background: -webkit-linear-gradient(left, #e66d6b 0%,#e25351 100%);
    background: -o-linear-gradient(left, #e66d6b 0%,#e25351 100%);
    background: -ms-linear-gradient(left, #e66d6b 0%,#e25351 100%);
    background: linear-gradient(to right, #e66d6b 0%,#e25351 100%);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.updated#roost-first-time-setup h3,
.updated#roost-first-time-setup h4 {
    color: #ffffff;
}

.updated#roost-first-time-setup {
    margin: 25px auto;
}

.updated#roost-first-time-setup h3 {
    margin: 22px 0 -10px 0;
    font-size: 15px;
    font-weight: 600;
}

.updated#roost-first-time-setup h4 {
    font-size: 14px;
    font-weight: 300;
}

#roost-notice-logo {
    width: 123px;
    height: 100%;
    float: left;
    border-right: 1px solid #c45d5b;
}

#roost-notice-logo img {
    width: 75px;
    position: relative;
    top: 26px;
    left: 18px;
}

#roost-notice-text {
    width: 510px;
    height: 100%;
    position: relative;
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

#roost-notice-text p {
    margin-left: 14px;
    padding: 17px;
    font-size: 14px;
}

#roost-first-time-setup #roost-notice-text {
    width: auto;
    padding-left: 35px;
    border: 0;
}

#roost-notice-target {
    width: 155px;
    height: 100%;
    float: left;
}

a#roost-notice-CTA,
a#roost-notice-CTA:link,
a#roost-notice-CTA:active {
    display: block;
    width: 96px;
    height: 22px;
    position: relative;
    top: 31px;
    left: 25px;
    border: 1px solid #963836;
    border-radius: 2px;
    background-color: #c24846;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    outline: 0;
}

a#roost-notice-CTA:visited {
    text-decoration: none;
    color: #ffffff;
    outline: 0
}

#roost-notice-CTA-highlight {
    display: block;
    width: 100px;
    height: 1px;
    position: relative;
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}

a#roost-notice-CTA:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#roost-first-time-setup #roost-notice-target {
    float: right;
}

#roost-signup-wrapper {
    width: 520px;
    height: 265px;
    margin: 100px auto 50px;
    padding: 80px;
    background: rgb(230,109,107);
    background: -moz-linear-gradient(top,  rgb(230,109,107) 0%, rgb(226,89,87) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(230,109,107)), color-stop(100%,rgb(226,89,87)));
    background: -webkit-linear-gradient(top,  rgb(230,109,107) 0%,rgb(226,89,87) 100%);
    background: -o-linear-gradient(top,  rgb(230,109,107) 0%,rgb(226,89,87) 100%);
    background: -ms-linear-gradient(top,  rgb(230,109,107) 0%,rgb(226,89,87) 100%);
    background: linear-gradient(to bottom,  rgb(230,109,107) 0%,rgb(226,89,87) 100%);
    color: #ffffff;
}

#roost-signup-wrapper h2 {
    margin: 40px auto 23px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
}

#roost-signup-wrapper p {
    font-size: 16px;
    font-weight: 300;
}

#roost-bottom-right {
    position: absolute;
    right: 42px;
    bottom: 11px;
    font-size: 15px;
    font-weight: 300;
    color: #f2b1b1;
}

#roost-bottom-right .roost-signup {
    margin-left: 11px;
    color: #ffffff;
    font-weight: 600;
}

#roost-signup-inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

#roost-create-account {
    display: inline-block;
    width: 163px;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 10px 5px;
    border-radius: 5px;
    background-color: #883736;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff !important;
    text-decoration: none !important;
    text-indent: 13px;
}

#roost-create-account:hover {
    background-color: #aa4543;
}

#roost-create-account img {
    display: inline-block;
    position: relative;
    top: 1px;
    left: -12px;
}

#roost-api-error {
    position: relative;
    top: 75px;
    padding: 12px 10px;
}

#roost-tabs {
    height: 50px;
}

#roost-tabs li {
    display: inline-block;
    height: 27px;
    position: relative;
    z-index: 10;
    float: left;
    margin: 15px 10px 10px 0;
    padding: 8px 15px 0 15px;
    border: 1px solid #cccccc;
    border-bottom: 0;
    background-color: #e4e4e4;
    list-style: none;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #666666;
    cursor: pointer;
}

#roost-tabs li.active {
    position: relative;
    z-index: 50;
    background-color: #fff;
}

#roost-pre-wrap {
    position: relative;
    z-index: 10;
}

#roost-pre-wrap.roost-white {
    padding-bottom: 30px;
    border-top: 1px solid #cccccc;
    background-color: #fff;
}

#roost-site-name {
    display: inline-block;
    position: absolute;
    margin-left: 24px;
    padding: 10px 24px;
    border-left: 1px solid #d3d6d7;
    font-size: 15px;
    text-align: center;
}

#roost-chart-heading {
    height: 45px;
    padding: 25px 0;
    background: #f1f1f1;
    text-indent: 29px;
}

#roostchart-dynamic {
    height: 250px;
}

#roost-time-period {
    position: absolute;
    top: 30px;
    right: 30px;
}

.roost-chart-range-toggle {
    margin-right: -6px;
    padding: 5px 10px;
    border: 1px solid #cccccc;
    background: #f7f7f7;
    font-size: 13px;
    color: #666666;
    text-align: center;
    cursor: pointer;
}

.roost-chart-range-toggle.active {
    background: #e4e4e4;
}

.roost-chart-range-toggle:first-of-type {
    border-right: 0;
    border-radius: 3px 0 0 3px;
}

.roost-chart-range-toggle:last-of-type {
    margin-right: 0;
    border-left: 1px solid #cccccc;
    border-radius: 0 3px 3px 0;
}

#roost-metric-options {
    height: 27px;
    position: absolute;
    bottom: 14px;
    left: 30px;
}

.roost-chart-metric-toggle {
    height: 22px;
    position: relative;
    z-index: 10;
    float: left;
    margin-right: 10px;
    padding: 5px 10px 0;
    border-bottom: 0;
    border: 1px solid #cccccc;
    background-color: #e4e4e4;
    font-size: 13px;
    color: #666666;
    text-align: center;
    text-indent: 0;
    letter-spacing: 0;
    cursor: pointer;
}

.roost-chart-metric-toggle:last-of-type {
    margin-right: 0;
}

.roost-chart-metric-toggle.active {
    position: relative;
    z-index: 50;
    border-bottom: none;
    background-color: #fafafa;
}

#roost-curtain {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
}

#roost-curtain-notice {
    width: 375px;
    height: 5px;
    position: relative;
    top: 100px;
    margin: 0 auto;
    padding: 10px 0 25px;
    border-radius: 15px;
    background: #e4e4e4;
    color: #666666;
    text-align: center;
    opacity: 0.8;
}

#roost-recent-activity {
    height: 275px;
    position: relative;
    z-index: 25;
    border-top: 1px solid #cccccc;
}

#roost-custom-note,
#roost-custom-note input {
    margin-top: 5px;
}

#roost-custom-note-text-description {
    display: block;
    margin: 10px 10px;
    font-weight: 400;
}

#roost-custom-note a {
    cursor: pointer;
}

#roost-custom-note i {
    font-size: 11px;
}

#roost-custom-note input {
    width: 100%;
}

#roost-advanced-settings-control {
    display: block;
    margin: 15px 0;
    cursor: pointer;
}

#roost-advanced-settings {
    display: none;
}

.roost-error {
    padding: 10px;
    color: #ffffff;
    background: #ff9b96;
}

#rooster .roost-error a,
#rooster .roost-error a:link,
#rooster .roost-error a:visited {
    color: #ffffff;
    font-style: italic;
}

#rooster .roost-error a:hover {
    text-decoration: underline;
}

#roost-chrome-instructions {
    display: block;
}

#roost-chrome-instructions .roost-section-heading {
    height: auto;
    margin: 17px 0 -4px;
    padding-top: 0;
    background-color: transparent;
    text-indent: 0;
}

#roost-chrome-caption {
    width: 965px;
    position: relative;
    margin: 15px 0 25px;
    padding-right: 0;
    top: 0;
    float: none;
    border-left: 5px solid #ffa500;
}

#roost-chrome-caption div:nth-child(1) {
    margin-bottom: 6px;
}

#roost-chrome-caption div:nth-child(2) {
    margin-bottom: 10px;
}

#chrome-install-dismiss {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
