hr  {
  height: 0px;  
  border: 0;  
  border-top: 1px solid #CACACA; 
}

input {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #DFDFDF;
}

#tinypass_subscription_holder {
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

#tinypass_button_holder {
  max-width:620px;
  min-width:300px;
}

#tp-outer {
  border:  1px solid #d8dadd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #f8f9fa;
  padding:  8px;
  margin-top: 40px;
  box-shadow: inset 0px 0px 3px #c8cacc;
}

#tp-inner {
  border:  1px solid #d8dadd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 3px #d8dadd;
}

#tp-inner hr {
  border:  0;
  border-bottom:  1px solid #d8dadd;
  margin:  0;
  padding:  0;
}

.inside hr {
  border: 0;
  border-top: 1px solid #DFDFDF;
  height: 0px;
  margin-top: 20px;
}

.tp-row {
  padding:  30px;
  font-size:  13px;
  line-height:  18px;
  overflow:  auto;
}

.tp-row h1 {
  font-size:18px;
  line-height:24px;
  color:#000000;
  margin:0px 0px 5px 0px;
}

.tp-col {
  float:left;
  width:70%;
}

.tp-col.right {
  margin:0px;
  width:30%;
  text-align:right;
  padding-top:10px;
}

.tp-col.right.read-more {
}


/*
TinyPass admin form sytles
*/
.clear {
  clear:both;
}

.tp-hide {
  display:none;
}

#tp-error {
  color:red;
}

.tp-error {
  border:1px solid red !important;
}

.tp-bg {
  background-color:#F7F7F7;
}

.tp-all-paywalls-crumb {
  color:#5B94E0;
  font-weight:bold;
  margin-bottom:30px;
}

.tp-all-paywalls-crumb a{
  color:#5B94E0;
  text-decoration: none;
}

.tp-section-header {
  width:1050px;
  margin-top:50px;
  height:40px;
  line-height:38px;
  font-size:26px;
  clear: both;
}

.tp-section-header1 {
  margin-top:0px;
}

.tp-section-header div.num {
  float: left;
  background: url('images/section-header-point.png') no-repeat top left;
  height: 40px;
  width: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.tp-section {
  margin-top:40px;
  font-size:12px;
  clear:both;
}

.tp-section input, .tp-section select, .tp-section textarea{
  font-size:12px;
}

.tp-section .info {
  float:left;
  width:200px;
}

.tp-section .info .image {
  margin-top:20px;
}


.tp-section .body {
  margin-left:70px;
  float:left;
  width:900px;
}

.tp-section div.inline-label {
  display:inline;
}

.tp-section .info .heading {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.tp-section .info .desc {
  color:#777;
}

.tp-section .postbox .inside div.label {
  font-size:12px;
  margin-top:20px;
  margin-bottom:8px;
  padding-left:3px;
}

#poststuff .tp-section .postbox .inside p.help {
  margin:0px 0px 0px 3px;
}

#poststuff .tp-settings .postbox h3 {
  border-top: 1px solid #DFDFDF;
  font-size: 12px;
  font-weight: 100;
  padding-left: 7px;
}

#poststuff .tp-settings .postbox h3:first-child {
  border-top: none;
}

#poststuff h2 {
  margin-top: 20px;
  font-weight: normal;
  font-size: 2.0em;
  margin-bottom: 20px;
  padding: 0 0 3px;
  clear: left;
}

.tp-settings h2 {
  font-weight:bold;
  padding-left:0px;
}

#tp_mode_details { 
  margin-top:45px;
  padding-left:25px;
}
#tp_mode_details .choice {
  /*border:1px solid red;*/
  margin-right:8px;
  width:340px;
  float:left;
  text-align: center;
}

#tp_mode_details .choice .inner {
  width: 310px;
  height: 375px;
  padding-top: 60px;
}

#tp_mode_details .choice .inner div.name {
  margin-top:20px;
  font-size:15pt;
}
#tp_mode_details .choice .inner div.sub {
  margin-top:10px;
  float:none;
  text-align: center;
  width:auto;
  font-weight:bold;
  font-size:11px;
}

#tp_mode_details .choice .inner div.info {
  margin-top: 10px;
  font-size: 11px;
  float: none;
  text-align: center;
  width: auto;
  padding: 0px 20px;
}

#tp_mode_details .choice .inner div.example {
  margin-top:10px;
  font-size:11px;
  float:none;
  text-align: center;
  width:auto;
}

#tp_mode_details .choice-selected .inner {
  background-image: url('./images/slider-selected.png');
  background-repeat: no-repeat;
}

#tp_mode_details .choice .inner img {
}

#tp_mode_details .choice-selected .inner img {
}

#tp_modes {
  margin-top: 20px;
  background-color: #F8F8F9;
  border: 1px solid #B8B8B8;
  padding: 0px 3px 0px 3px;
  border-radius: 30px;
  float: left;
  height: 50px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .1);
}

#tp_modes .choice {
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  width: 340px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #a9a9a9;
  font-weight: bold;
  cursor: pointer;
}

#tp_modes .choice-on, #tp_modes .choice-selected{
  text-shadow: 0 -1px #1753AB;
  cursor: pointer;
  display: inline-block;
  border: #3878D8 1px solid;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  color: white;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  background: #5f95e2;
  background: -moz-linear-gradient(top, #5f95e2 40%, #3878d8 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#5f95e2), color-stop(99%,#3878d8));
  background: -webkit-linear-gradient(top, #5f95e2 40%,#3878d8 99%);
  background: -o-linear-gradient(top, #5f95e2 40%,#3878d8 99%);
  background: -ms-linear-gradient(top, #5f95e2 40%,#3878d8 99%);
  background: linear-gradient(to bottom, #5f95e2 40%,#3878d8 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f95e2', endColorstr='#3878d8',GradientType=0 );
  box-shadow: 0px 2px 1px #dbdbde;
}

.tag-entry {
  border-top: 1px solid #DFDFDF;
  height: 40px;
  padding-top: 15px;
  padding-left: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tag-holder {
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: white;
}

.tag-holder div.tag {
  float:left;
  height:30px;
  margin-right:15px;
}

.tag-holder div.tag .text {
  float:left;
  height:29px;
  background-color:#4182DC;
  color:white;
  line-height:30px;
  padding-left:10px;
  padding-right:10px;
  font-weight:bold;
}


.tag-holder div.tag .remove {
  background-image:url('./images/tag-remove.png');
  background-repeat: no-repeat;
  float:right;
  height:30px;
  width:33px;
  cursor:pointer;
}

