/* This stylesheet is used to style the public view of the widget. */
.sailthru-signup-widget label { 
	display: block;
	width: 80px;
	float:left;
	clear:both;
}

.sailthru-signup-widget input[type="text"] {
	display:block;
	float:left;
}

.sailthru-signup-widget input[type="submit"] {
	display:block;
	clear: both;
}