/**
 * Plugin Name: GrabPress
 * Plugin URI: http: //www.grab-media.com/publisher/grabpress
 * Description: Configure Grab's AutoPoster software to deliver fresh video
 * direct to your Blog. Link a Grab Media Publisher account to get paid!
 * Version: 2.4.0
 * Author: Grab Media
 * Author URI: http: //www.grab-media.com
 * License: GPLv2 or later
 */

/**
 * Copyright 2014 blinkx, Inc.
 * (email: support@grab-media.com)
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License, version 2, as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc., 51
 * Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */


/**
 * TABLE OF CONTENTS
 * =================
 *
 * 1.x : Core & Plugin Overrides
 * ---------------------------------------------
 * 1.0 : jQuery UI MultiSelect
 * 1.1 : jQuery UI MultiSelect Widget Filtering
 * 1.2 : jQuery UI Selectmenu
 * 1.3 : WordPress
 * 1.4 : PrettifyJS
 *
 *
 * 2.x : jQuery UI
 * ---------------------------------------------
 * 2.0 : jQuery UI Core
 *
 *
 * 3.x : GrabPress Custom Styles
 * ---------------------------------------------
 * 3.0 : GrabPress Custom Styles
 *
 *
 * 4.x : Media Queries
 * ---------------------------------------------
 * 4.0 : WebKit Specific Hacks
 */


/**
 * 1.0 jQuery UI MultiSelect
 *
 * Custom overrides for the jQuery UI MultiSelect plugin
 */

.ui-multiselect {
	padding: 3px 0 1px 10px;
	text-align: left;
}

.ui-multiselect .ui-icon {
	float: right;
	margin-top: -1px;
	padding: 2px 3px 0 0;
}

.ui-multiselect-single .ui-multiselect-checkboxes input {
	position: absolute !important;
	top: auto !important;
	left: -9999px;
}

.ui-multiselect-single .ui-multiselect-checkboxes label {
	padding: 5px !important;
}

.ui-multiselect-header {
	margin-bottom: 3px;
	padding: 3px 0 3px 4px;
}

.ui-multiselect-header ul {
	font-size: 0.9em;
}

.ui-multiselect-header ul li {
	float: left;
	padding: 0 10px 0 0;
}

.ui-multiselect-header a {
	text-decoration: none;
}

.ui-multiselect-header a:hover {
	text-decoration: underline;
}

.ui-multiselect-header .ui-icon {
	float: left;
}

.ui-multiselect-header .ui-multiselect-close {
	float: right;
	text-align: right;
	padding-right: 0;
}

.ui-multiselect-menu {
	display: none;
	padding: 3px;
	position: absolute;
	z-index: 10000;
	text-align: left;
}

.ui-multiselect-checkboxes {
	position: relative; /* Fixes bug in IE6/7 */
	overflow-y: scroll;
}

.ui-multiselect-checkboxes label {
	cursor: default;
	display: block;
	border: 1px solid transparent;
	padding: 3px 1px;
}

.ui-multiselect-checkboxes label input {
	position: relative;
	top: 1px;
}

.ui-multiselect-checkboxes li {
	clear: both;
	font-size: 0.9em;
	padding-right: 3px;
}

.ui-multiselect-checkboxes .ui-multiselect-optgroup-label {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid;
}

.ui-multiselect-checkboxes .ui-multiselect-optgroup-label a {
	display: block;
	padding: 3px;
	margin: 1px 0;
	text-decoration: none;
}


/**
 * 1.1 jQuery UI MultiSelect Widget Filtering
 *
 * Custom overrides for jQuery UI MultiSelect Widget Filtering
 */

.ui-multiselect-hasfilter ul {
	position: relative;
	top: 2px;
}

.ui-multiselect-filter {
	float: left;
	margin-right: 10px;
	font-size: 11px;
}

.ui-multiselect-filter input {
	width: 100px;
	font-size: 10px;
	margin-left: 5px;
	height: 15px;
	padding: 2px;
	border: 1px solid #292929;
	-webkit-appearance: textfield;
	-moz-appearance:    textfield;
	appearance:         textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}


/**
 * 1.2 jQuery UI Selectmenu
 *
 * Custom overrides for the jQuery UI Selectmenu
 */

/* Selectmenu
----------------------------------*/
.ui-selectmenu {
	display: block;
	display: inline-block;
	position: relative;
	height: 20px !important;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	zoom: 1;
}

.ui-selectmenu-icon {
	position: absolute;
	right: 6px;
	margin-top: -8px;
	top: 50%;
}

.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	display: none;
	z-index: 1005; /* z-index: 1005 to make selectmenu work with dialog */
}

.ui-selectmenu-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.ui-selectmenu-open {
	display: block;
}

.ui-selectmenu-menu-popup {
	margin-top: -1px;
}

.ui-selectmenu-menu li {
	padding: 0;
	margin: 0;
	display: block;
	border-top: 1px dotted transparent;
	border-bottom: 1px dotted transparent;
	border-right-width: 0 !important;
	border-left-width: 0 !important;
	font-weight: normal !important;
}

.ui-selectmenu-menu li a,
.ui-selectmenu-status {
	line-height: 1.4em;
	display: block;
	padding: .3em 2.1em .2em 1em;
	outline: none;
	text-decoration: none;
}

.ui-selectmenu-menu .ui-state-disabled a,
.ui-state-disabled {
	cursor: default;
}

.ui-selectmenu-menu .ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status {
	padding-left: 20px;
	position: relative;
	margin-left: 5px;
}

.ui-selectmenu-menu li .ui-icon,
.ui-selectmenu-status .ui-icon {
	position: absolute;
	top: 1em;
	margin-top: -8px;
	left: 0;
}

.ui-selectmenu-status {
	line-height: 1em;
}

.ui-selectmenu-menu li span,
.ui-selectmenu-status span {
	display: block;
	margin-bottom: .2em;
}

.ui-selectmenu-menu li .ui-selectmenu-item-header {
	font-weight: bold;
}

.ui-selectmenu-menu li .ui-selectmenu-item-footer {
	opacity: .8;
}

.ui-selectmenu-menu .ui-selectmenu-group {
	font-size: 1em;
}

.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
	line-height: 1.4em;
	display: block;
	padding: .6em .5em 0;
	font-weight: bold;
}

.ui-selectmenu-menu .ui-selectmenu-group ul {
	margin: 0;
	padding: 0;
}

/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li {
	border-color: #faafbe;
	filter: chroma(color=#faafbe);
	width: 100%;
}

* html .ui-selectmenu-menu li a {
	position: relative;
}

/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled,
*+html .ui-state-disabled a {
	color: #c0c0c0;
}


/**
 * 1.3 WordPress Style Overrides
 *
 * Custom overrides for WordPress styles.
 */

* html .ui-multiselect-checkboxes label {
	border: none; /* remove label borders in IE6 because it does not support
	 transparency */
}

body {
	font: 12px Helvetica, arial, sans-serif;
}

h1,
h2,
p {
	margin: 10px 0;
}

.hidden {
	visibility: hidden;
}

.message {
	padding: 10px;
	margin: 15px 0;
	display: block;
	text-align: left;
}

.message-title {
	font-weight: bold;
	font-size: 1.25em;
}

.message-body {
	margin-top: 4px;
}

.error,
.notice,
.success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

.error {
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.error a {
	color: #8a1f11;
}

.notice a {
	color: #514721;
}

.success a {
	color: #264409;
}


/**
 * 1.4 PrettifyJS
 *
 * Custom overrides for PrettifyJS
 */

.str {
	color: #080;
}

.kwd {
	color: #008;
}

.com {
	color: #800;
}

.typ {
	color: #606;
}

.lit {
	color: #066;
}

.pun {
	color: #660;
}

.pln {
	color: #000;
}

.tag {
	color: #008;
}

.atn {
	color: #606;
}

.atv {
	color: #080;
}

.dec {
	color: #606;
}

.prettyprint {
	padding: 5px;
	border: 1px solid #d2d2d2;
	background: #f5f5f5;
}

@media print {
	.str {
		color: #060;
	}

	.kwd {
		color: #006;
		font-weight: bold;
	}

	.com {
		color: #600;
		font-style: italic;
	}

	.typ {
		color: #404;
		font-weight: bold;
	}

	.lit {
		color: #044;
	}

	.pun {
		color: #440;
	}

	.pln {
		color: #000;
	}

	.tag {
		color: #006;
		font-weight: bold;
	}

	.atn {
		color: #404;
	}

	.atv {
		color: #060;
	}
}


/**
 * 2.0 jQuery UI Core
 *
 * jQuery UI CSS Framework @VERSION
 *
 * Copyright 2012, AUTHORS.txt (http: //jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http: //jquery.org/license
 *
 * http: //docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix {
	zoom: 1;
}

.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 2000px;
}


/**
 * 3.0 GrabPress Custom Styles
 *
 * Custom styles for the GrabPress plugin itself.
 */

.grabpress-table input[type="text"] {
	/*background: url("../images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #f6f6f6;*/
	border: 1px solid #ccc;
	color: #999;
	font-weight: bold;
	padding: 2px 10px 1px 10px;
	height: 22px;
	*height: 17px;
	*padding-top: 5px;
	width: 230px;
	font-size: 12px;
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
	border-radius: 3px;
	position: relative;
	z-index: 0;
	*width: 222px;
}

.grabpress-table input[type="text"]:focus {
	/*background: url("../images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #fff;*/
	border: 1px solid #fbd850;
	color: #d54e21;
	font-weight: bold;
}

.grabpress-table .btn-delete {
	line-height: auto;
	background: none;
	border: none;
	color: #000;
	cursor: pointer;
}

.grabpress-table #publish-check {
	height: 13px;
	margin-left: 0px;
}

.grabpress-table #btn-preview-feed {
	margin-left: 30px;
}

.grabpress-table .click-to-play-feed {
	margin-left: 3px;
}

.hide {
	display: none;
}

.author-select {
	width: 225px;
}

.grabpress-table input[type="checkbox"] {
	vertical-align: baseline !important;
}

.grabpress-table #channel-select,
.grabpress-table .channel-select {
	width: 230px !important;
}

.grabpress-table .ui-widget {
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
}

.template-form {
	width: 400px;
	float: left;
}

.template-preview {
	border: 1px solid black;
	float: left;
	margin: 9px 0 0 20px;
	padding: 0;
	text-align: center;
}

.template-preview .widescreen {
	border-left: 2px dotted red;
	border-right: 2px dotted red;
	display: block;
	margin-left: 70px;
	position: absolute;
}

.template-preview .standard {
	border-top: 2px dotted blue;
	border-bottom: 2px dotted blue;
	display: block;
	margin-top: 40px;
}

.result-tile:hover {
	cursor: pointer;
}

.tooltip {
	background-color: #f5f5b5;
	border: 1px solid #deca7e;
	color: #303030;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 10px 13px;
	position: absolute;
	text-align: left;
	z-index: 2;
	text-decoration: none;
	width: 500px;
}

.grabpress-table .ui-multiselect {
	*height: 28px;
}

.grabpress-table #schedule-select-button .ui-selectmenu-status {
	width: 52px;
}

.ui-multiselect-filter {
	float: none;
}

/* Preview Feed */
.tile-left {
	float: left;
	width: 130px;
}

.tile-left p {
	margin: 0;
	line-height: 12px;
	font-size: 10px;
}

.result-tile {
	float: left;
	width: 400px;
	padding: 10px;
	overflow: hidden;
	border-top: 1px solid black;
}

.tile-right {
	float: right;
	width: 250px;
	overflow: hidden;
}

.edit-mode {
	border-color: #c41500;
}

.video-title {
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	padding: 0;
}

#edit-notice {
	font-size: 14px;
	color: #c41500;
	text-align: center;
	font-style: italic;
	margin: 12px 10px 10px 10px;
}

#close-preview {
	float: right;
	margin-top: -8px;
}

fieldset {
	padding: 10px;
	border: 1px solid black;
}

#preview-feed {
	width: 850px;
}

legend {
	font-size: 16px;
}

.preview-text {
	display: block;
}

#account-chooser {
	margin-bottom: 10px;
}

#account-chooser td {
	font-size: 14px;
}

#account-chooser input {
	margin: 0 5px 5px 10px;
}

.account-help {
	font-size: 10px;
}

input[type="button"] {
	display: inline;
	float: right;
	margin-top: -6px;
}

#link-existing input[type="text"],
#link-existing input[type="password"] {
	width: 250px;
	float: right;
}

.grabpress-table input[type="button"] {
	float: right;
}

#link-existing td,
#create-account td,
#unlink td {
	width: 400px;
	height: 16px;
}

td * {
	vertical-align: bottom;
}

#account {
	width: 400px;
}

#account.create {
	width: 650px;
}

#account.create td {
	padding-right: 10px;
}

#account.create input[type="text"],
#account.create input[type="password"] {
	width: 346px;
}

#buttons,
#tos {
	text-align: right;
	padding: 5px 0;
}

#acknowledge input {
	float: none;
}

.warning {
	font-weight: bold;
	color: #880000;
}

.manage-table * {
	font-size: 10px;
}

.manage-table {
	border-collapse: collapse;
}

.manage-table th {
	text-align: left;
	vertical-align: bottom;
	padding: 3px 3px 5px 3px;
}

.manage-table .inactive-row td {
	background-color: #dcdcdc;
}

.manage-table .row-feed td {
	background-color: #ffe4c4;
	padding: 3px 3px 5px 3px;
}

.manage-table .row-feed {
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.manage-table td:first-child {
	padding-left: 10px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.manage-table td:last-child {
	padding-right: 10px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#id-agree {
	float: left;
	font-size: 20px;
}

#id-protocol {
	float: right;
}

.display-element {
	display: block !important;
}

.edit-form-text {
	text-align: center;
	color: #c41500;
	padding: 15px 0 10px 0;
	font-style: italic;
	font-size: 14px;
}

#required {
	float: left;
}

#id-tos {
	text-align: right;
	font-size: 10px;
}

#cancel-editing {
	font-size: 12px;
	float: right;
}

#reset-form {
	float: right;
	margin: 0 15px 0 10px;
}

#acknowledge #confirm {
	margin-left: 10px;
}

.hide-button {
	display: none !important;
}

.manage-table .editing-feed td {
	background-color: #c41500 !important;
	color: white !important;
}

.grabpress-table .preview-btn-text {
	float: right;
}

.grabpress-table .asterisk {
	font-size: 16px;
}

.grabpress-table th {
	width: 130px;
}

#create-form,
.edit-form-text,
#manage-table {
	width: 850px;
}

.button-tip {
	padding-left: 160px;
	height: 27px;
}

#btn-create-feed {
	float: right;
}

#buttons {
	line-height: 24px;
}

.button-tip .description {
	float: center;
}

#form-catalog-page .preview-text-catalog b {
	display: block;
	width: 150px;
	float: left;
}

#form-catalog-page .preview-text-catalog #keywords {
	float: left;
	margin-right: 5px;
	width: 640px;
}

.clear {
	clear: both;
}

/* Catalog page*/
#form-catalog-page .result-tile {
	border-top: 1px solid black;
	float: left;
	overflow: hidden;
	padding: 10px 10px;
	width: 830px;
}

#form-catalog-page .tile-left {
	float: left;
}

#form-catalog-page .tile-right {
	float: right;
	overflow: hidden;
	width: 670px;
}

#form-catalog-page .result-tile .tile-right .video-summary {
	height: 2em;
	overflow: hidden;
}

#catalog-page .result-tile .video-title {
	height: 28px;
}

#form-catalog-page .label-tile {
	float: left;
	height: 25px;
	overflow: hidden;
	padding: 15px 10px;
	width: 400px;
}

#form-catalog-page .label-tile .tile-left {
	float: left;
	width: 120px;
}

#form-catalog-page .label-tile .tile-right {
	float: right;
	height: 45px;
	overflow: hidden;
	width: 280px;
	text-align: right;
}

#form-catalog-page .label-tile .tile-right img {
	vertical-align: middle;
}

#form-catalog-page .label-tile #update-search {
	margin: 0 5px;
}

#update-search:disabled {
	color: #ccc;
}

#form-catalog-page .label-tile-one-column {
	width: 820px;
	padding: 20px 10px;
}

.datepicker {
	width: 58px;
}

#form-catalog-page .label-tile .ui-multiselect {
	width: 250px !important;
}

#form-catalog-page .datepicker {
	font-size: 11px;
	margin: 0 5px;
	width: 63px;
}

#form-catalog-page .label-tile-one-column .tooltip {
	width: auto !important;
}

/* Catalog: Add new page pop-up*/
#TB_window {
	overflow: hidden;
}

#TB_window #preview-feed a:link,
#TB_window #preview-feed a:hover {
	color: #21759b !important;
}

#TB_window .preview-text-catalog #keywords {
	width: 636px;
}

#TB_ajaxContent {
	line-height: 1.3em;
}

#TB_ajaxContent p {
	color: #333;
	padding: 0;
}

.results-divider {
	margin: -7px 29px 0 64px;
}

#TB_window .label-tile-one-column .tooltip {
	left: 533px !important;
}

#form-create-feed .grabpress-table .ui-multiselect {
	width: 230px !important;
	*width: 244px !important;
}

#TB_window #TB_title {
	z-index: 105 !important;
}

#preview-feed #btn-create-feed {
	float: none;
	margin-left: 200px;
}

.grabgear {
    position:fixed;
    top: 0;
    left: 0;
    display: table-cell;
    height: 100%;
    width: 100%;
    z-index: 16777271;/* lowest maximum z-index supported cross-browser
			 (safari 3 was 24bit) */
}
.dashgear.grabgear {
    background: rgba(255,255,255,0.75);
   }
.grabgear>img{
	top: 50%;
	left: 50%;
	width: 68px;
	height: 68px;
	margin-top: -34px;
	margin-left: -34px;
	position: absolute;
}

/* Dashboard ------------*/
#form-dashboard {
	background: #000 url("../images/background.png") repeat;
	margin: -5px 0 0 -19px;
	padding: 0 19px 160px 0 !important;
	box-shadow: 0 0 5px 2px #000 inset;
	height: auto;
	width: 100%;
	min-width: 1100px;
}

#form-dashboard #t #b input {
	-webkit-transform-style: flat !important;
	-moz-transform-style:    flat !important;
	-ms-transform-style:     flat !important;
	transform-style:         flat !important;
}

#t #b {
	background: none;
	font: 12px 'Calibri W01 Regular 904604', Verdana;
}

#form-dashboard .panel {
	background: #FFF url("../images/panel.png") repeat;
	margin: 8px;
	padding: 6px;
	box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

#form-dashboard .tab-content {
	background: #FFF url("../images/inset.png") repeat-x left bottom;
	box-shadow: 0 0 5px 2px #000 inset, 0 0px 0 0 rgba(255, 255, 255, 0.25);
}

#form-dashboard .faq .tab-content {
	padding: 10px 10px 20px 10px;
}

#t #b .nav .active > a {
	height: 20px;
	color: #FFF;
	padding: 8px 0 0 0;
	font: 12px 'Calibri W01 Regular 904604', Verdana;
	background: none;
	text-indent: 6px;
}

#t #b .accordion {
	background-color: #000;
}

#t #b .accordion-group {
	border: 1px solid #2b2b2b;
	border-top: none\9;
	*border-bottom: none;
}

#t #b:last-child .accordion-group {
	border: 1px solid #2b2b2b;
}

#t #b .accordion-toggle {
	color: #fff;
	font: 18px 'Gill Sans W01 Light', Arial;
	text-decoration: none;
	outline: none;
	display: block;
}

#t #b .accordion-toggle:hover {
	color: #f00;
	box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.75);
	border-radius: 3px;
}

#t #b .feed-title {
	overflow: hidden;
}

#t #b .accordion-inner {
	padding: 0;
	display: table;
	width: 100%;
}

#t #b .feeds {
	background: #FFF url("../images/panel.png") repeat;
	box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
	display: inline-block;
	height: 484px !important;
	width: 460px !important;
	float: right;
	padding: 6px !important;
	margin: 8px !important;
}

#t #b .feeds a {
	text-decoration: none;
}

#t #b .feeds .panel {
	background: url("../images/inset.png") repeat-x scroll left bottom #FFFFFF;
	border-radius: 3px;
	margin: 10px 2px 2px 3px;
	padding-left: 0;
	padding-right: 0;
	padding: 0;
	height: 428px;
}

#t #b .feeds .table-hover {
	background: url("../images/inset.png") repeat-x scroll left bottom #FFFFFF;
}

#t #b table {
	border-bottom: none;
	margin-bottom: 0;
}

#t #b table thead {
	border-bottom: none;
}

#t #b table tbody {
	border-bottom: none;
}

#t #b table th {
	background-color: #818181;
	color: #FFF;
	text-align: center;
	border-right: 1px solid #5d5b5b;
	border-bottom: 1px solid #818181;
}

#t #b table th:last-child {
	border-right: none;
}

#t #b table td {
	color: #000;
	text-align: center;
	padding: 4px 10px;
	border-right: 1px solid #5d5b5b;
	height: 16px;
	border-bottom: none;
}

#t #b table td:first-child {
	text-align: left;
}

#t #b table td:last-child {
	border-right: none;
}

#t #b .even {
	background: #d3d3d3;
}

#t #b .odd {
	background: #c0c0c0;
}

#t #b .accordion-left {
	background: url("../images/accordion_left.png") repeat scroll 0 0 #000;
	width: 3px;
	height: 33px\9;
	float: left\9;
}

#t #b:last-child .accordion-left {
	height: auto;
	float: none;
}

#t #b .accordion-center {
	background: url("../images/accordion_center.png") repeat scroll 0 0 #000;
	margin-right: 3px\9;
	height: 33px\9;
	*margin-right: 0;
}

#t #b:last-child .accordion-center {
	margin-right: 0;
}

#t #b .accordion-heading {
	height: 33px\9;
	overflow: hidden;
	 /*height: auto;*/
	margin-left: -2px\9;
	margin-top: -1px\9;
	margin-right: 0px\9;
	*margin-right: -1px;
	*margin-bottom: 0px;
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=0,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=90,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=180,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=270,strength=1);*/
}

#t #b:last-child .accordion-heading {
	height: auto;
	margin: auto;
	filter: none;
}
/*
#t #b .accordion-heading:hover {
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#f00,direction=0,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#f00,direction=90,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#f00,direction=180,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#f00,direction=270,strength=1);
}
*/
#t #b:last-child .accordion-heading:hover {
	filter: none;
}

#t #b .accordion-right {
	background: url("../images/accordion_right.png") repeat scroll 0 0 #000;
	width: 3px;
	height: 33px\9;
	float: right\9;
	position: relative;
	top: -33px;
}

#t #b:last-child .accordion-right {
	float: none;
	height: auto;
}

#t #b h3 {
	padding: 5px 10px;
}

#t #b .tab-content {
	clear: both;
}

#t #b .accordion {
	clear: both;
}

#t #b .accordion-group {
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 2px;
}

#t #b .accordion-heading {
	border-bottom: 0 none;
	background-color: #eee;
}

#t #b .accordion-toggle {
	cursor: default;
}

#t #b .accordion-heading .accordion-toggle {
	padding: 4px 15px;
	height: 25px;
	line-height: 25px;
}

#t #b .collapse {
	overflow: hidden;
	position: relative;
}

#t #b .collapse.in {
	height: auto;
}

#t #b table th {
	background-color: #818181;
}

#t #b table .rowspan1 {
	height: 20px;
}

#t #b table .rowspan2 {
	height: 60px;
}

#t #b table .rowspan3 {
	height: 100px;
}

.noscroll .content {
	padding: 3px 10px 10px 10px;
	right: -27px !important;
}

.nano {
	height: 198px;
}

.nano .content {
	margin: 3px 10px 10px 10px;
	right: -27px !important;
}

.nano .pane {
	margin: 4px;
}

#t #b #btn-account-settings {
	border: 0 none;
	height: 33px;
	margin-left: 354px;
	margin-top: 6px;
	padding: 0;
	position: absolute;
	width: 15px;
}

#t #b #btn-account-settings .accordion-left {
	background: url("../images/accordion_left.png") repeat-y scroll 0 0 #000;
	height: 33px;
	left: 0;
	top: 0;
	top: 1px\9;
	position: absolute;
	width: 3px;
}

#t #b #btn-account-settings .accordion-center {
	background: url("../images/accordion_center.png") repeat-x scroll 0 0 #000;
	height: 33px;
	padding: 0 3px;
	width: 99px;
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=0,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=90,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=180,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=270,strength=1);*/
}

#t #b #btn-account-settings .accordion-right {
	background: url("../images/accordion_right.png") repeat-y scroll 0 0 #000;
	height: 33px;
	position: absolute;
	right: -91px;
	top: 0;
	top: 1px\9;
	width: 3px;
}

#t #b #btn-account-settings a {
	color: #fff;
	display: block;
	padding: 8px 0px 0px 5px;
	width: 99px\9;
	height: 33px\9;
}

#t #b #btn-account-settings a:hover {
	color: #f00;
	cursor: auto;
	margin-left: 2px\9;
}

#t #b #btn-account-settings .accordion-center:hover {
	color: #f00;
	box-shadow: 0px 0px 5px rgba(255, 0 , 0, 0.75);
	border-radius: 3px;
	padding-right: 6px;
	padding-right: 2px\9;
	width: 101px\9;
	margin-left: -1px\9;
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#f00,direction=0,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#f00,direction=90,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#f00,direction=180,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#f00,direction=270,strength=1);*/
}

#t #b #btn-account-settings .accordion-center:hover a {
	color: #f00;
}

#t #b .watch {
	width: 70px;
	padding: 0;
}
#t #b .watch input:focus{
    box-shadow: none;
}
#t #b .watch-on {
	background: url("../images/watch-on.png") no-repeat scroll 0 0;
	border: none;
	display: block;
	height: 26px !important;
	width: 26px !important;
	margin-right: 25px;
	margin-top: 0;
	padding-top: 0;
	text-indent: -3000px;
	box-shadow: none;
}

#t #b .watch-off {
	background: url("../images/watch-off.png") no-repeat scroll 0 0;
	border: none;
	display: block;
	height: 26px !important;
	width: 26px !important;
	margin-right: 25px;
	margin-top: 0;
	padding-top: 0;
	text-indent: -3000px;
	box-shadow: none;
}

#t #b .feed-health-0 {
	background: url("../images/health-0.png") repeat-x scroll 2px 3px transparent;
	width: 40px;
}

#t #b .feed-health-20 {
	background: url("../images/health-20.png") repeat-x scroll 2px 3px transparent;
	width: 40px;
}

#t #b .feed-health-40 {
	background: url("../images/health-40.png") repeat-x scroll 2px 3px transparent;
	width: 40px;
}

#t #b .feed-health-60 {
	background: url("../images/health-60.png") repeat-x scroll 2px 3px transparent;
	width: 40px;
}

#t #b .feed-health-80 {
	background: url("../images/health-80.png") repeat-x scroll 2px 3px transparent;
	width: 40px;
}

#t #b .feed-health-100 {
	background: url("../images/health-100.png") repeat-x scroll 2px 3px transparent;
	width: 40px;
}

#t #b .feeds .account-linked {
	background: url("../images/account-linked.png") no-repeat scroll 0 0 #000;
	border: none;
	cursor: auto;
	height: 46px;
	width: 332px;
	margin-left: 3px;
	text-indent: -3000px;
}

#t #b .feeds .account-unlinked {
	background: url("../images/account-unlinked.png") no-repeat scroll 0 0 #000;
	border: none;
	cursor: auto;
	height: 46px;
	width: 332px;
	margin-left: 3px;
	text-indent: -3000px;
}

#t #b .content p {
	width: 185px;
}

#t #b .faq {
	margin-left: 0 !important;
	width: 752px;
}

#t #b .span4 {
	width: 31.6239%\9 !important;
}

#t #b .watchlist {
	float: left\9;
}

#t #b .span8 {
	width: 65.812%\9 !important;
	float: left\9 !important;
}

#t #b .row-fluid .messages {
	width: 256px !important;
	padding: 0 !important;
}

#t #b .row-fluid .messages .panel {
	width: 240px !important;
	height: 228px !important;
	padding: 6px !important;
	margin: 8px !important;
}

#t #b .row-fluid .welcome {
	width: 256px !important;
	padding: 0 !important;
}

#t #b .row-fluid .welcome .panel {
	width: 240px !important;
	height: 228px !important;
	padding: 6px !important;
	margin: 8px !important;
}

#t #b .row-fluid .welcome .panel .tab-content {
	height: 100%;
}

#t #b .row-fluid .span12 {
	min-height: 10px !important;
}

#t #b .faq {
	width: 100%\9;
	float: left\9;
}

#t #b .nano .content {
	right: -10px\9;
}

#t #b .watchlist .span4 {
	float: left\9;
}

#t #b .row-fluid {
	width: 100%;
}

#t #b .row-fluid:before,
#t #b .row-fluid:after {
	content: "";
	display: table;
	line-height: 0;
}

#t #b .row-fluid:after {
	clear: both;
}

#t #b .row-fluid [class*="span"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	display: block;
	float: left;
	margin-left: 2.5641%;
	min-height: 30px;
	width: 100%;
}

#t #b .row-fluid [class*="span"]:first-child {
	margin-left: 0;
}

#t #b .nav a {
	display: inline-block;
}

#t #b .container-fluid {
	padding: 0 !important;
	min-height: 580px;
}

#t #b .right-pane {
	width: 756px !important;
	margin-left: -752px;
}

#t #b .watchlist {
	width: 100% !important;
	padding-right: 752px !important;
	max-width: 1392px;
	/*min-width: 1072px;*/
	width: auto\9 !important;
	/*min-width: 360px\9;*/
	/*max-width: 640px\9;*/
}

#t #b .accordion-inner .accordion-warning {
	color: #999;
	display: block;
	padding-top: 25px;
	text-align: center;
	text-align: left\9;
	padding-left: 20px\9 !important;
	padding-right: 20px\9 !important;
	font-family: inherit\9;
	font-size: 18px\9;
	font: 18px 'Gill Sans W01 Light', Arial;
}

#t #b .welcome .content {
	font: 26px 'DIN 1451 W01 Engschrift', Arial;
	text-transform: uppercase;
	width: 220px;
	line-height: 30px;
	height: 220px;
	font-weight: normal;
	color: #333;
}

#t #b .welcome .content a {
	color: #1B75BB;
}

#t #b .welcome .nano {
	height: 220px;
}

#t #b .feeds h3 {
	font: 18px 'Gill Sans W01 Light', Arial;
	padding: 15px;
	color: #000;
}

#form-dashboard #message {
	display: none;
}

#form-dashboard .feeds #help {
	float: right;
	margin-top: -47px;
	padding: 15px;
	text-decoration: underline !important;
}

/* Dashboard right-pane fixed position */
#t #b .right-pane .span4 {
	width: auto;
}

/* white margins fix */
.wrap {
	margin: 0;
}

/* dashboard changes */
#t #b .watchlist,
#t #b .right-pane {
	margin-top: 16px;
}

#t #b .watchlist {
	margin-left: 8px !important;
}

/* catalog tab space between Watch Video and Create Post buttons */
#form-catalog-page .button-primary {
	margin: 0 2px;
}

/* account page */
#account .button-secondary,
#account #clear-form {
	margin-right: 15px;
}

#wpadminbar {
	z-index: 1000 !important;
}

.ui-dialog {
	position: fixed;
}

/* feed activity style */
.feeds .nano .content {
	right: 4px !important;
}

.feeds .tooltip {
	width: 420px !important;
}

/* Dashboard messages tabs style */
#messages-tab1,
#messages-tab2 {
	clear: both;
	background: #FFF url("../images/inset.png") repeat-x left bottom;
	box-shadow: 0 0 5px 2px #000 inset, 0 0px 0 0 rgba(255, 255,255,0.25);
}

#messages-tabs .nano {
	height: 172px !important;
	width: auto !important;
}

.messages .ui-tabs .ui-widget-header {
	background: none;
}

.messages .ui-tabs .ui-state-default {
	background-image: none;
	background-color: #201c1e;
	border: 1px solid #2b2b2b !important;
}

.messages .ui-tabs .ui-state-active {
	background-color: #111111;
}

.messages .ui-tabs ul a,
.messages .ui-tabs .ui-state-active a {
	color: #fff !important;
}

.messages .ui-widget-content {
	border: none;
}

#t #b .topbar div > ul a,
#t #b .nav a {
	padding: 5px 10px;
}

#messages-tab2 .delete-alert {
	width: 16px;
	background: url("../images/icons/green/Cancel.png") top left no-repeat;
	float: right;
}

#t #b #messages-tab2 .content p {
	width: auto !important;
	padding: 5px 0 5px 7px;
	margin-right: 34px;
	border-bottom: 1px solid #818181;
}

.bold {
	font-weight: bold;
}

.form-overlay {
	height: 100%;
	width: 100%;
	background: rgba( 255, 255, 255, 0.75 );
	position: absolute;
	top: 0;
	left: -20px;
	
	/*z-index: 998;*/
}

.form-overlay-message {
	position: fixed;
	width: 50%;
	left: 25%;
	top: 10%;
	z-index: 1000;
}

#wp-oauth-content {
	margin: 0 auto;
	width: 650px;
	margin-top: 40%;
	cursor: pointer;
}

.wp-connect{
	background: url(../images/btn-connect-wordpress.png);
	width: 246px;
	height: 40px;
}

.wp-verify {
	background: url(../images/btn-verify-wordpress.png);
	width: 246px;
	height: 40px;
}

.wp-oauth-retry-message {
	color: #f00;
}

/**
 * 4.0 WebKit Specific Hacks
 *
 * Custom media queries for WebKit browsers.
 */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#t #b .feed-title {
		white-space: nowrap;
	}
}
