@charset "utf-8";

#modal-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000000;
	opacity: 0.6;
	z-index: 99998;
}

#modal-popup {
	width: 1050px;
	height: 930px;
	border: none;
	z-index: 99999;
	position: absolute;
	background: #ffffff;
	top: 0;
	left: 45%;
	margin-top: 70px;
	margin-left: -431px;
}

#modal-frame {
	border: none;
	width: 100%;
	height: 100%;
}

#modal-loader {
	position: absolute;
	top: 50%;
	left: 50%;
}

#modal-close {
	position: absolute;
	top: -12px;
	right: -12px;
	background: #fff;
	border-radius: 30px;
	cursor: pointer;
	width: 25px;
	height: 25px;

	text-align: center;
	line-height:  22px;
	font-size: 20px;
	font-weight: bold;
}

#modal-close:after {
	content: 'x';
}
