/* SVG loading indicator */
.lp_loading-indicator {
    background-image: url(../img/spinner.svg);
    background-size: contain;
    height: $fs--2;
    margin: $fs--2 auto;
    @include opacity(0.7);
    position: relative;
    width: $fs--2;
    animation: rotate 1.2s infinite steps(12);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
