.mask-back{
	background-color: black;
	filter: alpha(opacity=60);
	height: 100%;
	left: 0%;
	-moz-opacity: .60;
	opacity:      .60;
	position: fixed;
	top: 0%;
	width: 100%;
}

.BOX {
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	display: none;
	left: 50%;
	max-width: 100%;
	position: absolute;
}

.BOX iframe {
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
	width: 100%;
}

.BOX .x {
	cursor: pointer;
	height: 23px;
	opacity: 0.6;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 11px;
	width: 23px;
}

.BOX .x:hover {
	opacity: 1;
}

.BOX .x:before {
	color: #999;
	content: '×';
	font-size: 24px;
	line-height: 100%;
}

.BOX .header {
	background-color: #f6f6f6;
	border-bottom: 1px solid #e1e1e1;
	display: block;
	font-size: 19px;
	font-weight: 300;
	padding: 8px 10px 8px 10px;
}
