<a class="button button-primary button-large" id="simplechart-launch" href="#">%s</a>
<a class="button button-secondary button-small" id="simplechart-clear" href="#">%s</a>
<script>
	var WPSimplechartBootstrap = {
		appUrl : "%s",
		postmetaKey : "%s",
		data : %s,
		template : '%s',
		closeModal : '%s'
	};
</script>
<input type="hidden" id="simplechart-nonce" name="simplechart-nonce" value="%s" />
<input type="hidden" id="simplechart-data" name="simplechart-data" value="%s" />
<input type="hidden" id="simplechart-template" name="simplechart-template" value="%s" />
<input type="hidden" id="simplechart-png-string" name="simplechart-png-string" value="" />
<input type="hidden" id="simplechart-chart-url" name="simplechart-chart-url" value="%s" />
<input type="hidden" id="simplechart-chart-id" name="simplechart-chart-id" value="%s" />