/* =Infinity Styles
-------------------------------------------------------------- */
.infinite-scroll #main:after {
	clear: both;
	content: '';
	display: block;
}
.infinite-scroll #content {
	margin-bottom: 70px;
}
.infinite-scroll .hentry:last-of-type,
.infinite-scroll .hentry.last-before-infinite {
	border-bottom: none;
}
/* Elements to hide */
.infinite-scroll #colophon #supplementary,
.infinite-scroll #nav-below {
	display: none;
}
/* Fixed footer */
.infinite-scroll #colophon {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-radius: 2px 2px 0 0;
	position: fixed;
	bottom: -110px;
	left: 50%;
	width: 520px;
	margin: 0 0 0 -260px;
}
.infinite-scroll #site-generator {
	background: rgba(255,255,255,0.8);
	border-top: none;
	line-height: 2em;
	padding: 0.2em 0;
}
.infinity-success #colophon {
	-webkit-animation: footer-bar 0.8s ease-in;
	-moz-animation: footer-bar 0.8s ease-in;
	animation: footer-bar 0.8s ease-in;
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-delay: 1s;
	-moz-animation-fill-mode:forwards;
	animation-delay: 1s;
	animation-fill-mode:forwards;
}
.infinity-end #colophon {
	border: none;
	border-radius: 0;
	margin: 0;
	position: static;
	width: auto;
}
.infinity-end #site-generator {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	line-height: 2.2em;
	padding: 2.2em 0.5em;
}
@media (max-width: 450px) {
	/* Smaller screens */
	.infinite-scroll #colophon {
		left: 50%;
		margin: 0 0 0 -200px;
		width: 400px;
	}
	.infinite-scroll #site-generator {
		font-size: 10px;
		text-align: left;
		padding-left: 20px;
	}
	.infinite-scroll #site-generator .sep {
		display: block;
		margin-bottom: -20px;
		margin-left: 4px;
	}
	.infinite-scroll #site-generator .sep + a {
		margin-left: 30px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.infinite-scroll #colophon {
		left: 50%;
		margin: 0 0 0 -160px;
		width: 320px;
	}
}
@-moz-keyframes footer-bar {
	from {
		bottom: -110px;
	}
	to {
		bottom: 0;
	}
}
@-webkit-keyframes footer-bar {
	from {
		bottom: -110px;
	}
	to {
		bottom: 0;
	}
}
@keyframes footer-bar {
	from {
		bottom: -110px;
	}
	to {
		bottom: 0;
	}
}