/* Login panel */
.getty-spinner {
	display: block;
	width: 24px;
	height: 24px;
}
.getty-images-login {
}
	.getty-images-login .getty-spinner {
		position: absolute;
		right: 0;
		top: 0;
	}
	.getty-images-login .forgot {
		margin-bottom: 0.5em;
		color: #777;
		font-size: .9em;
	}
	.getty-images-login .error-message {
		height: 1.5em;
		line-height: 1.5em;
		color: red;
		padding: .5em 0;
	}
	.getty-images-login .getty-login-submit {
		clear: both;
		height: 24px;
		position: relative;
	}
		.getty-login-submit .getty-login-spinner {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 24px;
		}

	.getty-images-login .getty-close-login {
		width: 11px;
		height: 11px;
		display: block;
		float: right;
		clear: both;
		margin-bottom: 11px;
		background: url(../images/x.png) no-repeat right;
		text-indent: 11px;
		overflow: hidden;
		cursor: pointer;
	}
	
	.getty-images-login .getty-login-token textarea {
		width: 100%;
		height: 6em;
	}
	
	.getty-images-login .getty-login-cancel-button {
		text-decoration: none;
		padding: 0 1em;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.getty-images-login .getty-close-login {
			background: url(../images/x-2x.png) no-repeat right;
			background-size: 10px 10px;
		}
	}

	.getty-login-button {
		position: relative;
	}
