#apple-news-publish h3 {
	font-weight: bold;
    line-height: 1em;
    font-size: 1.1em;
    margin: 10px 0px 5px;
    display: block;
}

#apple-news-publish .section {
	display: block;
}

#apple-news-publish-submit {
	margin-top: 10px;
}
