ul#shoplocket_product_list {
    border: 0 solid #F1F1F1;
    border-width: 1px 1px 0;
    height: 150px;
    overflow-y: scroll;
}
ul#shoplocket_product_list li {
    margin: 0;
    border-bottom: 1px solid #F1F1F1; padding: 9px 6px;
    height: 54px;
    overflow: hidden;
}
ul#shoplocket_product_list li:hover {
    cursor: pointer;
    background: #EAF2FA;
    color: #151515;
}
ul#shoplocket_product_list li:hover.selected,
ul#shoplocket_product_list li.selected {
    font-weight: bold;
    background: #DDD;
}
ul#shoplocket_product_list .item-image {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 122px;
    text-align: center;
    margin-left: 17px; 
}
ul#shoplocket_product_list .item-image img {
    border: 1px solid #ededed;
    vertical-align: top;
}
ul#shoplocket_product_list .item-title {
    padding-top: 0;
    display: inline-block;
}
ul#shoplocket_product_list .item-title h2 {
    font-size: 1.33em;
    line-height: 2;
    font-weight: normal;
    margin: 0;
}
ul#shoplocket_product_list li.selected h2 {
    font-weight: bold;
}
.wp-core-ui .button.add_shoplocket_product {
    padding-left: .4em;
}
.add_shoplocket_product .wp-media-buttons-icon {
    background: url("../img/icon-shoplocket.png");
    background-size: 16px 16px;
}
.howto .howto-support {
    float: right;
    margin-right: 2em;
}
.submitbox:after {content:"";height:0;display:block;visibility:hidden;clear:both;}
.submitbox {text-align: right;}
.submitbox input[type='text'] {margin-right: 2em;}
.submitbox input[disabled][type='text'] {
    background: #EEE;
}
#shoplocket_preview {
    clear: both;
    margin-top: 3em;
}
#shoplocket_preview.has_iframe {
    background: url("../img/bluegrid.png") top center;
    border: solid #e9f0f7;
    border-width: 0 2px 2px;     
}
#shoplocket_preview.has_iframe::before {
    content:'Preview';
    color: white;
    background: #3e3e3e;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
    outline: 2px solid #3e3e3e;    
    font-size: 1.2em;
}
#shoplocket_preview iframe {
    display: block;
    padding-top: 20px;
    margin: 0 auto;  
}

@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){
    .add_shoplocket_product .wp-media-buttons-icon {
        background-image: url("../img/icon-shoplocket-2x.png");
    }
}
.shoplocket-connect {
    margin-top: 1em;
    background: #f5f5f5 100% 1em no-repeat url(../img/shoplocket-connect-background.png);
}
.shoplocket-connect-inner {
    background: 37px 100% no-repeat url(../img/shoplocket-signup-background-top.png);
    font-size: 1.33em;
    padding: 2em 400px 1em 2.5em;
}
.shoplocket-connect p.lead::first-line {
    font-size: 2em;
}
.shoplocket-connect p {
    line-height: 1.5;
    max-width: 40em;
}
.shoplocket-connect .submit {
    text-align: center;
    background: 50% 100% no-repeat url(../img/shoplocket-connect-arrow.png);
}
.shoplocket-signup {
    font-size: 1.33em;
    background: #ed7854;
    color: #FFF;
    padding: 2em 2em 2em 416px;
    padding-top: 2em;    
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
}
.shoplocket-signup img {
    position: absolute;
    top: -17px;
    left: 37px;
}
.shoplocket-signup h3 {
    margin: 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    max-width: 30em;
}
.shoplocket-signup p {
    margin: .5em 0 0;
}
.shoplocket-signup h3,
.shoplocket-signup p {
    max-width: 30em;
}
.shoplocket-signup a {color: #FFF;}

.shoplocket-success {
    font-size: 1.33em;
}
.shoplocket-success h3 {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
}

.shoplocket-success-instructions {
    background: #f5f5f5;
    padding: 2.5em 4em;
    color: #666666;
    line-height: 1.5em;
}
.instructions-editor,
.instructions-widget {
    max-width: 846px;
    margin: 0 auto;
}
.instructions-editor {
    background: left center no-repeat url(../img/shoplocket-instructions-editor.png);
    min-height: 208px;
}
.instructions-editor p {
    padding: 74px 0 74px 460px;
}
.instructions-widget {
    background: right center no-repeat url(../img/shoplocket-instructions-widget.png);
    min-height: 208px;
}
.instructions-widget p {
    text-align: right;
    padding: 62px 400px 62px 81px;
}
.instructions-support {
    text-align: center;
    background: top center no-repeat url(../img/shoplocket-help.png);
    padding-top: 60px;
}
.instructions-support .support-methods {
    font-size: 0.8em;
}
.shoplocket-start-over {
    position: relative;
}
.shoplocket-start-over-table {
    border-right: 1px solid #e4e4e4;
    margin-right: 200px;
}
.shoplocket-start-over-button {
    position: absolute;
    top: 3.5em;
    right: 0;
    width: 200px;
    text-align: center;
}
#shoplocket_dimensions.invisible {
	visibility: hidden;
}