/*
	Style the figure/image markup displayed on the frontend.

	The following styles ensure that the displayed image
	doesn't break out of it's parent container.
*/
figure.webdam-imported-asset {
	width: auto !important ;
}
	figure.webdam-imported-asset img.size-medium,
	figure.webdam-imported-asset img.size-full {
		height: auto !important ;
		max-width: 100% ;
	}