/*
	Display the waiting animation center/center
	and above the WebDAM asset chooser iFrame popup
*/
.webdam-asset-chooser-status {
	background: white ;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(51,51,51,0.54);
	-moz-box-shadow: 0px 0px 5px 1px rgba(51,51,51,0.54);
	box-shadow: 0px 0px 5px 1px rgba(51,51,51,0.54);
	display: none ;
	font-size: 1.2em ;
	height: 50px ;
	left: 50% ;
	padding: 10px ;
	position: fixed ;
	text-align: center ;
	top: 50% ;
	-webkit-transform: translate( -50%, -50% );
	-moz-transform: translate( -50%, -50% );
	-ms-transform: translate( -50%, -50% );
	-o-transform: translate( -50%, -50% );
	transform: translate( -50%, -50% );
	width: 300px ;
	z-index: 999999 ;
}
	.webdam-asset-chooser-status.visible {
		display: block ;
	}
	.webdam-asset-chooser-status .working img {
		width: 280px ;
		height: auto ;
		margin-top: 7px ;
	}