// Loaded on options page for LaterPay plugin

@charset "UTF-8";

@import 'objects/_variables';
@import 'objects/_polyfills';
@import 'objects/_spinner';


h3 {
    margin: (4 * $fs) 0 $fs;

    &:first-of-type {
        margin-top: $fs;
    }
}

.form-table {
    margin-top: 0;
}
.form-table th {
    font-weight: normal;
    padding-top: $fs;
    padding-bottom: $fs--05;
}
.form-table td {
    padding-top: $fs--05;
    padding-bottom: 0;
}

.regular-text.lp_number-input {
    text-align: right;
    width: (4 * $fs);
}

.lp_appended-text {
    color: $text--lighter;
    padding-left: $fs--05;
}

p.submit {
    margin-top: (4 * $fs);
}

// hide the individual category checkboxes, if access was granted to 'all' or 'no' categories
.lp_global-access:checked ~ .lp_category-access-input:not(.lp_global-access),
.lp_global-access:checked ~ .lp_category-access-label:not(.lp_global-access) {
    display: none;
}

.lp_category-access-label {
    line-height: 1.8;
    margin-right: $fs;
}

ul.post_types {
    max-height: 200px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
}