// 'Appearance' tab in plugin backend

// preview mode images
.lp_button-group__button-image--preview-mode-1 {
    background-image: url('../img/preview-mode-1.png');
}
.lp_button-group__button-image--preview-mode-2 {
    background-image: url('../img/preview-mode-2.png');
}
.lp_button-group__button-image--preview-mode-3 {
    background-image: url('../img/preview-mode-3.png');
}

// purchase button position images
.lp_button-group__button-image--button-position-1 {
    background-image: url('../img/button-position-1.png');
}
.lp_button-group__button-image--button-position-2 {
    background-image: url('../img/button-position-2.png');
}

// time passes position images
.lp_button-group__button-image--time-passes-position-1 {
    background-image: url('../img/time-passes-position-1.png');
}
.lp_button-group__button-image--time-passes-position-2 {
    background-image: url('../img/time-passes-position-2.png');
}

.lp_purchase-form {

    &__panel {
        border-radius: $border-radius * 2;
        border: 1px solid $border;
        box-sizing: border-box;
        margin-top: $fs--125;
        padding: $fs--08 $fs--125;
    }

    &__triangle {
        box-sizing: border-box;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $fs+1;
        top: -($fs+1);
        right: 108px;
        margin-left: -($fs+1);
        border-top-width: 0;
        border-bottom-color: $border;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;

    }
    .lp_purchase-form__triangle:after {
        box-sizing: border-box;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        content: "";
        border-width: $fs;
        top: 1px;
        margin-left: -$fs;
        border-top-width: 0;
        border-bottom-color: #f1f1f1;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }

    &__buttons {
        display: table;
    }

    &__table {

        & td {
            font-size: $fs--08;
            padding: $fs--015 $fs--025 $fs--015  0;
        }
        & .lp_input {
            font-size: $fs--08;
            height: 2em;
            min-width: $fs * 13;
        }
    }
}

.lp_purchase-form-label {
    font-size: $fs--07;
}
